<p id="notice"><%= notice %></p>

<h1>品目</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>項目</th>
      <th>価格</th>
      <th>コメント</th>
      <th>カテゴリー</th>
      <th>Check</th>
    </tr>
  </thead>　

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item %></td>
        <td><%= item.price %>円</td>
        <td><%= item.comment %></td>
        <td><%= item.category %></td>
        <td><%= item.check %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
